* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {

    background-color: black;
}

.bloc_projet {
    background-color: lightgray;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    max-height: 800px;
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin-left: auto;
    margin-right: auto;
    

}
.textprojet {
    margin: 0;
    padding: 10px;
    max-width: 40%;
    border-radius: 20px;
    background-color: grey;}

.images {

    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}


.boxprojet img {

    max-width: 65%;
}

h2 {

 text-align: center;
}


.center {
    background-color: lightgray;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: auto;    
    margin-right: auto;
    
} 





}