/* PAULINE - partie Header _navbar.php */

body {
    margin: 0px;
    position: fixed;
    width: 100%;
}

header {
    background-color: rgb(30, 30, 30);
    border-radius: 0px 0px 0px 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

#bloc_title_header {
    display: flex;
    justify-content: flex-start;
}

.title_header {
    line-height: 0.6em;
    color: white;
    font-family: 'Unica One', cursive;
}

.title_header h1 {
    font-size: 1.5em;
}

.title_header h2 {
    font-size: 1em;
    font-weight: normal;
}

#logo {
    height: auto;
}

#logo img {
    max-width: 100%;
    height: auto;
    padding: 10px 20px 10px 10px;
}

#burger {
    position: fixed;
    right: 0;
    top: 0;
    color: black;
    background: white;
    font-size: 34px;
    padding: 16px 16px 32px 32px;
    border-radius: 0% 0% 0% 100%;
    transition: 1s;
    cursor: pointer;
}
  
#quit {
    position: fixed;
    top: 0;
    color: black;
    font-size: 32px;
    padding: 16px;
    display: none;
    cursor: pointer;
}
  
#links {
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    padding: 25vh 0;
    justify-content: space-around;
}
  
#links a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-family: 'Comfortaa';
    z-index: 10;
}


@media (width <= 500px) {
      
    .title_header h1 {
        font-size: 1.2em;
        padding-top: 10px;
    }
    
    .title_header h2 {
        font-size: 0.8em;
    }

    #links {
        height: 20vh;
    }
      
    #links a {
        font-size: 1em;
    }
}

/* Fin partie CSS Header - navbar PAULINE */