/* PAULINE - partie Header _navbar.php */

body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: rgb(30, 30, 30);
  border-radius: 0px 0px 0px 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

#bloc_title_header {
  display: flex;
  justify-content: flex-start;
}

.title_header {
  line-height: 0.6em;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.title_header h1 {
  font-size: 1.5em;
  font-weight: normal;
}

.title_header h2 {
  font-size: 1em;
  font-weight: normal;
}

#logo {
  height: auto;
}

#logo img {
  max-width: 100%;
  height: auto;
  padding: 10px 20px 10px 10px;
}

#links {
  list-style-type: none;
  display: flex;
}

#links a {
  text-decoration: none;
  font-style: normal;
  line-height: 1.5em;
  padding-right: 50px;
  color: black;
  font-size: 1.2em;
}

a:hover {
  font-weight: bold;
}

#pullDown {
  display: none;
}

#headerMenu {
  width: 412px;
  height: 0;
  -moz-transvwition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  overflow: hidden;
  background: rgb(50 50 50);
  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  background: white;
  border-radius: 0px 0px 0px 16px;
}

#pullDown:checked~#headerMenu {
  height: 80px;
}

#headerMenu p {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  margin-top: 30px;
  text-shadow: 1px 1px 1px #d6a000;
}

#pullDown~#pullDownLabel {
  background: white;
  width: 80px;
  height: 100px;
  position: absolute;
  top: -10px;
  right: 1%;
  cursor: pointer;
  margin-left: 40px;
  -moz-transition: all 300ms ease-in;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  border-radius: 0px 0px 15px 15px;
  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

#pullDown~#pullDownLabel:hover {
  height: 110px;
}

#pullDown:checked~#pullDownLabel {
  top: 50px;
}

#pullDownLabel i {
  position: absolute;
  top: 45px;
  left: 23px;
  font-size: 36px;
  line-height: 36px;
  color: #ff305A;
  text-shadow: 1px 1px 1px #ff0000;
}

#pullDownLabel p {
  position: absolute;
  bottom: 15px;
  left: 14px;
  font-size: 12px;
  line-height: 12px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #d6a000;
}

/* Fin partie CSS Header - navbar PAULINE */

/* Page Projet Wissam */

.bloc_projet {
  background-color: lightgrey;
  margin: 30px;
  padding: 0px;
  border-radius: 20px;
  border-radius:20px;
  max-height: 800px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.textbox {
  margin: 0;
  padding: 20px;
  max-width: 40%;
  border-radius: 20px;
  background-color: grey;
}

.images {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 60%;
  margin-top: auto;
  margin-bottom: auto;
}

.imagebox img {
  max-width: 60%;
}

#firstboximage {
  max-width: 80%;
}

#imageScuba {
  max-width: 50%;
}
.h1-projet {
padding: 30px;
font-weight: 700;
}

.h2-projet {
text-align: left;
padding-bottom: 10px;
font-size: 20px;
font-weight: 700;
}

.videos {
  background-color: gray;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  max-height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

#videoProjet {
  flex-direction: column;
}

.p-projet {
  line-height: 1.2;
}

/* Fin Page Projet Wissam */

/* début JUSTINE - homepage */

h1,
h2,
p {
  font-family: 'Roboto', sans-serif;
}

p {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.3;
}


/* Présentation linus */

.bodyPresCard {
  padding: 30px;
}

.presentationCard {
  background-color: lightgray;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  max-height: 800px;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.linusPres {
  margin: 0;
  padding: 10px;
  max-width: 40%;
}

.linusPres-img {
  margin: 0;
  max-width: 65%;
}

.linusPres-img img {
  width: 100%;
}

.linusPres-text p {
  padding-top: 15px;
  padding-right: 10px;
}


/* Projets */

.projects {
  padding: 30px;
  margin-top: 20px;
}

.projectsCard-title {
  max-height: 800px;
  max-width: 900px;
  margin: 0px auto;
}

.bodyProjectsCard {
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 800px;
  max-width: 900px;
}

.projectCard {
  background-color: lightgray;
  border-radius: 20px;
  height: 200px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 10px 5px 5px gray;
}

.projectCard-title {
  background-color: gray;
  width: 100%;
  height: 35px;
  border-radius: 20px 20px 0 0;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 10px;
}

.picto {
  float: right;
  margin-bottom: 5px;
}

h2 {
  font-size: 16px;
}

.project-img {
  padding: 5px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#img1 {
  margin: 10px auto;
  height: 90%;
  width: 100%;
}

#img2 {
  margin: 10px auto;
  height: 60%;
  width: 100%;
}

#img3 {
  margin: 10px auto;
  height: 90%;
  width: 90%;
}

.project-img img {
  width: 80%;
  height: 80%;
}

/* Fin JUSTINE - homepage */

/*  CONTACT   by Eddy */
fieldset p {
margin-bottom: 30px;
font-size: 1.2em;
font-weight: bold;
}

fieldset {
border: 0px solid rgb(223, 221, 221);
width: 80%;
margin: 50px auto;
padding: 50px;
border-radius: 15px;
background-color: rgb(223, 221, 221);
}

input[type=text],
textarea {
align-content: center;
width: 100%;
padding: 3px;
border: 1px solid black;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
padding-left: 10px;
}

input[type=submit] {
width: 40%;
height: 50px;
padding: 3px;
margin: 5px;
border: 1px solid black;
border-radius: 10px;
margin-left: 50%;
}

/* fin */


/* CONTACT by Hugo */
.input-error {
  position: relative;
}
.container {
  margin-right: -40px;
  display: inline-flex;
}

.error-div {
  color: rgb(224, 75, 30);
}

#messageError, #emailError {
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
}

.required {
    border: 2px solid rgb(224, 75, 30) !important;
    
}

.required::placeholder {
    color: rgb(224, 75, 30);
}

.suggest-div {
  color: rgb(255, 181, 22);
  padding-left: 10px;
}

.suggested {
  border: 2px solid rgb(255, 181, 22) !important;
}

.suggested::placeholder {
  color: rgb(255, 181, 22);
}

.tooltiptext {
  position:absolute;
  top: 17px;
  left: 0;
  visibility: hidden;
  font-size: small;
  width: 300px;
}

.suggest-div:hover .tooltiptext {
  visibility: visible;
}

/* Fade in des messages d'erreurs */
.error-div, .suggest-div {
    -webkit-animation-name: fadeInOpacity;
    animation-name: fadeInOpacity;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/* fin fade in */

/* Successfull page animation */

.successfull {
    text-align: center;
    margin-top: 50px;
}

.lds-default {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-default div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(172, 172, 172);
    border-radius: 50%;
    animation: lds-default 1.2s linear infinite;
  }
  .lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
  }
  .lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
  }
  .lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
  }
  .lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
  }
  .lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
  }
  .lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
  }
  .lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
  }
  .lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
  }
  .lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
  }
  .lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
  }
  .lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
  }
  .lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
  }

  @keyframes lds-default {
    0%, 20%, 80%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(2);
    }
  }

/* fin animation success */

/* fin Hugo */

/* ********* DEBUT DU FOOTER (DEV : COLIN) ******** */

footer {
position: absolute;
top: 100;
width: 100%;
text-align: center;
margin-top: 50px;
}

#footer_section {
display: inline-flex;
align-items: center;
justify-content: center;
--color-bright: #d1d1d1da;
--color-orange: #e6512c;
--color-orange: #ff0000;
--body-background-color: #303030;
background: var(--body-background-color);
text-align: center;
height: 110px;
margin: auto;
border-top-left-radius: 18px;
border-top-right-radius: 18px;
width: 100%;
}

#footer_section .icon {
display: inline-flex;
height: 100px;
}

#footer_section a {
margin: auto;
border-radius: 16px 16px 0px 0px;
width: 100%;
}

#footer_section .icon {
display: inline-flex;
height: 100px;
}

#footer_section a {
text-decoration: none;
color: var(--color-bright);
font-size: 2rem;
margin: 15px 7px;
}

/* ****************** */

#footer_section .icon a {
display: block;
position: relative;
}

#footer_section .icon a::after {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: 1px solid transparent;
transition: all .3s;
}

#footer_section .icon a:hover::after {
/* transform: rotate(35deg) skew(-20deg); */
--transformed-box-diagonal-length: 164%;
width: var(--transformed-box-diagonal-length);
left: calc( (100% - var(--transformed-box-diagonal-length)) / 2);
}


/* ****************** */

#footer_section .icon a div {
position: relative;
display: block;
width: 55px;
height: 55px;
transition: transform .3s;
min-width: 57px;
margin: auto 7px;
}


/* rotation  */

#footer_section .icon a:hover div {
transform: rotate(-40deg) skew(20deg);
}

.icon a span {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
transition: 0.2s;
border: 1px solid var(--color-bright);
border-radius: 15px;
}

.icon a span:nth-child(5) {
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.icon a:hover span:nth-child(5) {
transform: translate(20px, -20px);
opacity: 1;
}

.icon a:hover span:nth-child(4) {
transform: translate(15px, -15px);
opacity: .8;
}

.icon a:hover span:nth-child(3) {
transform: translate(10px, -10px);
opacity: .6;
}

.icon a:hover span:nth-child(2) {
transform: translate(5px, -5px);
opacity: .4;
}

.icon a:hover span:nth-child(1) {
opacity: .2;
}


/* orange background spans */

.icon a.orange-background span {
background: var(--color-orange);
border-color: var(--color-bright);
}

#footer_section .icon a.orange-background span:nth-child(5) {
background: var(--body-background-color);
}


/* orange shadow */

.icon a.orange-shadow:hover span {
box-shadow: -1px 2px 3px var(--color-orange);
}


/* orange border  */

.icon a.orange-border span {
border-color: var(--color-bright);
}

.icon a.orange-border span:nth-child(5) {
border-color: var(--color-bright);
}

.copyright p {
color: azure;
text-align: center;
font-size: 0.8em;
margin: -22px;
padding: 0px;
}

/* ********* FIN DU FOOTER (DEV : COLIN) ******** */

/* ----- Media Queries Accueil Justine ----- */

@media screen and (max-width: 700px) {
/* Linus Pres */
h1 {
    font-size: 22px;
}
.presentationCard {
    flex-wrap: wrap-reverse;
}
p {
    font-size: 13px;
}
.linusPres {
    margin: 0;
    padding: 10px;
    max-width: 100%;
}
.linusPres-img {
    margin: 5px;
    max-width: 100%;
}
/* Projects Cards */
.bodyProjectsCard {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.projectCard {
    min-width: 240px;
    margin: 10px auto;
}
.projectsCard-title {
    text-align: center;
}
}

/* ---------- DEBUT DE LA PARTIE MEDIA QUERIES RESPONSIVE HEADER PAULINE ---------- */

@media screen and (min-width: 200px) and (max-width: 700px) {
.title_header h1 {
    font-size: 1em;
    padding-top: 5px;
}
.title_header h2 {
    font-size: 0.8em;
}
}

i {
font-style: normal;
}

#pullDown {
display: none;
}

#headerMenu {
width: 412px;
height: 0;
-moz-transvwition: all 300ms ease-in;
-webkit-transition: all 300ms ease-in;
transition: all 300ms ease-in;
overflow: hidden;
background: rgb(50 50 50);
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
background: white;
border-radius: 0px 0px 0px 16px;
}

#pullDown:checked ~ #headerMenu {
height: 80px;
}

#headerMenu p {
color: white;
font-family: 'Roboto', sans-serif;
text-align: center;
line-height: 16px;
font-size: 16px;
margin-top: 30px;
text-shadow: 1px 1px 1px #d6a000;
}

#pullDown ~ #pullDownLabel {
background: white;
width: 80px;
height: 100px;
position: absolute;
top: -10px;
right: 1%;
cursor: pointer;
margin-left: 40px;
-moz-transition: all 300ms ease-in;
-webkit-transition: all 300ms ease-in;
transition: all 300ms ease-in;
border-radius: 0px 0px 15px 15px;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}

#pullDown ~ #pullDownLabel:hover {
height: 110px;
}


#pullDown:checked ~ #pullDownLabel {
top: 50px;
}

#pullDownLabel i {
position: absolute;
top: 45px;
left: 23px;
font-size: 36px;
line-height: 36px;
color: #ff305A;
text-shadow: 1px 1px 1px #ff0000;
}

#pullDownLabel p {
position: absolute;
bottom: 15px;
left: 14px;
font-size: 12px;
line-height: 12px;
color: white;
font-weight: bold;
text-transform: uppercase;
text-shadow: 1px 1px 1px #d6a000;
}
/* Fin partie CSS Header - navbar PAULINE */


